<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
    title : 'CARRITO'
}) %>

<body>
    <%- include('../partials/header') %>


    <main class="carrito__main">
        <section class="carrito__main__section__contenedor">
            <h2>Termina tu compra</h2>
            <div class="carrito__main__section--articulos">
                <article class="carrito__main__article">
                    <figure class="carrito__main--img">
                        <img src="/images/vinos/00103.jpg" alt="" />
                    </figure>
                    <div class="carrito__main__article--datos">
                        <h4>Vino cabernet</h4>
                        <div class="carrito--montos">
                            <p class="carrito--precio">$6.770</p>
                            <p class="carrito--descuento">40% off</p>
                        </div>
                        <div class="carrito--montos2">
                            <form action="/cantidad" method="GET">
                                <label>Cantidad </label>
                                <input class="carrito__cantidad" type="number" name="cantidad" value="1" />
                            </form>
                            <a class="carrito--home" href="/">Continuar comprando</a> 
                        </div>
                        <a class="carrito--borrar" href="/">Borrar articulo</a>
                    </div> 
                </article>
            </div>
            
            <aside class="carrito__aside">
                <section class="carrito__aside__section">
                    <h3>Resumen de compra</h3>
                    <article class="carrito__aside__section__article">
                        <h5 >Cantidad</h5>
                        <form action="/envio" method="GET">
                            <label for="carrito__envio" >Tipo de envío</label>
                            <div><input type="radio" name="envio" value="Retiro de sucursal" />
                                <p>Retiro de sucursal</p></div>
                            <div><input type="radio" name="envio" value="Envío por correo" />
                                <p>Envío por correo</p></div>
                        </form>    
                    </article>
                    <div class="carrito__aside--sesion">
                        <form action="/pagos" method="GET">
                            <label class="carrito_label--pago">Seleccionar tipo de Pago</label>
                            <select name="carrito--pago">
                                <option value="">Efectivo</option>
                                <option value="">Tarjeta</option>
                                <option value="">Mercado Pago</option>
                            </select>
                        </form>
                    </div>
                </section>
                <section class="carrito__aside__section--buton">
                            <a class="carrito__comprar--buton" href="404notFound">Comprar</a>
                </section>
            </aside>
        </section>
    </main>

    <%- include('../partials/footer')%>
</body>


</html>