<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    
      <main class="detalle-producto-main">
        <section class="product-details">
          <div class="image-container">
            <img src="/images/vinos/1565708783_trivento-reserve-malbec-2018-2-19.png" alt="vino">
          </div>
          <div class="product-details-container">
            <div class="description-prev">
              <a href="/favoritos">
                <i class="fa-regular fa-heart"></i>
              </a>
              <h2 class="name-product">Vino Trivento</h2>
              <p class="description--precio">Precio:</p>
              <p class="price">$3500</p>
            </div>
            <div class="product-options">
              <div class="option">
                <div class="option-icon"><i class="fas fa-credit-card"></i></div>
                <p class="option-label">Medio de pago</p>
              </div>
              <section class="card__credit">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
              </section>
              <div class="option">
                <div class="option-icon"><i class="fa-solid fa-truck"></i></div>
                <p class="option-label">Información de envío</p>
              </div>
              <div class="option">
                <div class="quantity-control">
                  <button class="quantity-button"><i class="fas fa-minus"></i></button>
                  <span class="quantity-number">1</span>
                  <button class="quantity-button"><i class="fas fa-plus"></i></button>
                </div>
              </div>
              <section class="buttons">
                <button class="compra">Compra</button>


                <button class="add-to-cart">Agregar al carrito</button>
              </section>
            </div>
          </div>
          </div>
        </section>
        <section class="section__description">
          <h3>Características principales:</h3>
          <p>Origen: Argentina</p>
          <p>Bodega: trapiche</p>
          <p>Volumen: 750mL</p>
          <p>Año: 2015</p>
          <p>Tipo de envase: botella</p>
        </section>
      </main>
      <aside class="home__aside">
        <section class="section__aside--descripcion">
          <h3>Descripción:</h3>
          <p>Disfruta de un exquisito Trapiche Malbec Finca Coletto, un vino tinto de alta calidad proveniente de la
            prestigiosa bodega Trapiche en Mendoza, Argentina. Este Malbec del año 2015, originario del Valle de Uco, es
            perfecto para compartir en una cena especial o para disfrutar en una noche tranquila en casa. Con sus 750 mL
            de
            contenido en una elegante botella, este vino es ideal para degustar en cualquier ocasión. A pesar de no ser
            orgánico, su sabor y aroma te transportarán a los viñedos de Mendoza, donde se cultivan las mejores uvas
            Malbec
            del país. No pierdas la oportunidad de deleitar tu paladar con este exquisito vino Trapiche Malbec Finca
            Coletto, una opción única y sofisticada para los amantes del buen vino.</p>
        </section>
      </aside>



      <%- include('../partials/footer') %>
        </div>

  </body>

</html>