<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3d210cf143.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>

<body>
    <header>
        <nav class="header">
            <div class="header__izquierda">
                <a href="/"><img src="/img/logoAlmacen.png" alt=""></a>
            </div>
            <div class="header__centro">
                <div class="header__titulos">
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">contacto</a></li>
                        <li><a href="">ofertas</a></li>
                        <li><a href="">ayuda</a></li>
                    </ul>
                </div>
                <div class="header__busqueda">
<input type="busqueda" placeholder="¿Qué estás Buscando?...">
<button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

            </div>
            <div class="header__botonmenu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="header__derecha">
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/registro">registro</a></li>
                    <div class="carrito">
                        <i class="fa-solid fa-cart-shopping"></i> 
                    </div>
                

                </ul>
            </div>


        </nav>

    </header>

<div>
    <main class="carrito__main">
            <article class="home__main__article">
                <img src="/img/yerbas/amanda.jpg" alt="amanda">
            <div class="carrito__main__article--description">
                <h4>Producto</h4>
                <p>$1000.00</p>
                <a href="">Seguir Comprando</a> </div> 
            </article>
    </main>

    <aside class="carrito__aside">
            <section class="carrito__aside__section">
                <h3>Resumen de compra</h3>
                <article class="carrito__aside__section__article">
                    <h5 >Producto</h5>
                    <p>Envio</p>
                <a href="">Continuar compra</a> </div> 
                </article>
            </section>
            <section class="carrito__aside__section"></section>
    </adise>
    </div>

</body>


</html>