<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacen Regional</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7fda48dd8d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="header">
            <div class="header__izquierda">
                <a href="/"><img src="/img/logoAlmacen.png" alt=""></a>
            </div>
            <div class="header__centro">
                <div class="header__titulos">
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">contacto</a></li>
                        <li><a href="">ofertas</a></li>
                        <li><a href="">ayuda</a></li>
                    </ul>
                </div>
                <div class="header__busqueda">
                    <input type="busqueda" placeholder="¿Qué estás Buscando?...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

            </div>
            <div class="header__botonmenu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="header__derecha">
                <ul>
                    <li><a href="/login">login</a></li>
                    <li><a href="/registro">registro</a></li>
                    <div class="carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <div class="home__banner">
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/banners/banner1.jpg" alt="slider1">
                </div>
                <div class="swiper-slide">
                    <img src="/img/banners/banner2.png" alt="slider2">
                </div>
                <div class="swiper-slide">
                    <img src="/img/banners/banner3.jpg" alt="slider3">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <main class="home__main">
        <section class="home__main__section-slogan">
            <h2>"Sabores argentinos en cada producto, ¡disfruta lo auténtico!."</h2>
            <div class="home__main__contenedor">
                <div class="home__main__contenedor__articulo-yerba">
                    <img src="/img/yerbas/Yerba-mate-in-a-mug-and-bowls-800x534.jpg" alt="">
                    <h3>Yerba Mate </h3>
                    <p>"infusión con encanto"</p>
                </div>
                <div class="home__main__contenedor__articulo2">
                    <div class="home__main__contenedor__articulo-vino-alfajor">
                        <img src="/img/vinos/el-mejor-vino-tinto.jpg" alt="">
                        <h3>vinos</h3>
                        <p>"Sabor que enamora a los dioses"</p>
                    </div>
                    <div class="home__main__contenedor__articulo-vino-alfajor">
                        <img src="/img/alfajores/46814.475 alfajores.jpg" alt="">
                        <h3>Alfajores</h3>
                        <p>"Dulce abrazo artesanal"</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="home__main__section__contenedor-articulos">
            <h2>Productos mas vendidos</h2>
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/vinos/00103.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4>Vino cabernet</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/havanna.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$10.000</p>
                        <p class="descuento">20% off</p>
                        <h4>Cajas de Alfajor</h4>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/yerbas/canarias.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$750</p>
                        <p class="descuento">10% off</p>
                        <h4>yerba</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/surtidos.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$3.500</p>
                        <p class="descuento">5% off</p>
                        <h4>alfajor</h4>

                    </div>

                </article>
            </div>
        </section>

        <section class="home__main__section__contenedor-articulos">
            <h2>Productos destacados</h2>
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/vinos/00103.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4>Vino cabernet</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/havanna.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <p class="precio">$10.000</p>
                        <p class="descuento">20% off</p>
                        <h4>Cajas de Alfajor</h4>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/yerbas/canarias.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <p class="precio">$750</p>
                        <p class="descuento">10% off</p>
                        <h4>yerba</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/surtidos.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <p class="precio">$3.500</p>
                        <p class="descuento">5% off</p>
                        <h4>alfajor</h4>

                    </div>

                </article>
            </div>
        </section>

        <section class="home__main__section__contenedor-articulos">
            <h2>Productos en oferta</h2>
            <!-- <div class="home__main__banner-ofertas">
                <img src="/img/banners/Slider-Leche-de-Almendras-y-chocolate.jpg" alt="">
            </div> -->
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/vinos/00103.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4>Vino cabernet</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/havanna.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$10.000</p>
                        <p class="descuento">20% off</p>
                        <h4>Cajas de Alfajor</h4>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/yerbas/canarias.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$750</p>
                        <p class="descuento">10% off</p>
                        <h4>yerba</h4>
                    </div>
                </article>

                <article class="home__main__article">
                    <figure class="home__main__article__figure">
                        <img src="/img/alfajores/surtidos.jpg" alt="">
                    </figure>
                    <div class="home__main__article__contendeor--precio-descuento-descr">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$3.500</p>
                        <p class="descuento">5% off</p>
                        <h4>alfajor</h4>

                    </div>

                </article>
            </div>
        </section>



    </main>
    <!-- footer -->
    <footer class="footer">
        <div class="footer__seguinos">
            <h4>SEGUINOS</h4>
            <ul>
                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer__nosotros">
            <h4>NOSOTROS</h4>
            <ul>
                <li><a href="">¿Quienes somos?</a></li>
                <li><a href="">Nuestra Calidad</a></li>
            </ul>
        </div>
        <div class="footer__ayuda">
            <h4>AYUDA</h4>
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Centro de Ayuda</a></li>
        </div>
        <div class="footer__logo">
            <a href=""><img src="/img/logoAlmacen.png" alt=""></a>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/carousel1_swiper.js"></script>

</body>

</html>