<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="login__body">
    <header>


    </header>

    <main class="login__main">
    <h2>Inicia tu sesión</h2>
    <div class="login__main--subt">
        <p>Ingresa para poder comprar con mayor facilidad</p>
    </div>
    <form action="login____main--form">
        <div class="login__main--mail">
            <input class="">
            <label for="">Email o número de teléfono</label>
        </div>
        <div class="login__main--pass">
            <input class="">
            <label for="">Contraseña</label>
        </div>
        
        <div class="login__main--sesion">
            <button>Iniciar sesión</button>
        </div>
        <div class="login__main--registro">
            <label for="">Primera vez aquí?</label>
        </div>
        <div class="login__main--inicio">
            <button>Crea tu cuenta</button>
        </div>
    </form>
        <div class="login__main--term">
            <p>Al continuar, aceptas los Terminos y Condiciones y la Politica de Privacidad de Almacaen Regional</p>
        </div>
    
    </main>
</body>
</html>