<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/3d210cf143.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Formulario Registro</title>
</head>
<body>
  <header>
    <nav class="header">
        <div class="header__izquierda">
            <a href="/"><img src="/img/logoAlmacen.png" alt=""></a>
        </div>
        <div class="header__centro">
            <div class="header__titulos">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">contacto</a></li>
                    <li><a href="">ofertas</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>
            <div class="header__busqueda">
<input type="busqueda" placeholder="¿Qué estás Buscando?...">
<button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

        </div>
        <div class="header__botonmenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header__derecha">
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/registro">registro</a></li>
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i> 
                </div>
            

            </ul>
        </div>


    </nav>

</header>

  <section class="form-register">
        <figure class="registro_logo">
            <a href="/"><img src="/img/logoAlmacen.png" alt=""></a>
            </figure>
    <h4>CREÁ TU CUENTA</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="CREAR">
    <div class="googlefacebook">
        <h3>o inicia sesion con</h3>
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <p><a href="login">¿Ya tengo Cuenta?</a></p>
    

  </section>
 
  <footer class="footer">
    <div class="footer__seguinos">
        <h4>SEGUINOS</h4>
        <ul>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer__nosotros">
        <h4>NOSOTROS</h4>
        <ul>
            <li><a href="">¿Quienes somos?</a></li>
            <li><a href="">Nuestra Calidad</a></li>
        </ul>
    </div>
    <div class="footer__ayuda">
        <h4>AYUDA</h4>
        <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Centro de Ayuda</a></li>
    </div>
    <div class="footer__logo">
        <a href=""><img src="/img/logoAlmacen.png" alt=""></a>
    </div>

</footer>
</body>
</html>