.carrito__main{
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: var(--colorPlantaRod);
    display: flex;
}
.carrito__main h2{
    font-family: Alegreya Sans SC;
    font-size: 40px;
    color: var(--colorCuarzo);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}
.carrito__main__section__contenedor{
    width: 100%;
    margin: 0 auto 5px;
    margin-top: 15px;
}

.carrito__main__section--articulos {
    max-width: 100%;
    margin: 1em;
}
.carrito__main__article{
    background-color: var(--colorNaranjaGris);
    border: none;
    width: 100%;
    padding: 15px;
    margin: 5 auto 5px;
    display: flex;
    border-radius: 5%;
    justify-content: space-between;    
    gap: 10px;
}
.carrito__main--img{
    width: 40%;
    margin-left:5px;
    margin-top:7%;
}

.carrito__main img{
    max-width: 100%;

}

.carrito__main__article--datos{
    width: 60%;
    margin-top:10%;
    color: var(--colorCuarzo);
    font-size: 1.5rem;
    text-align: center;
    
}
.carrito__main__article--datos h4{
    margin-bottom: 10px;
 

}
.carrito__main__article--datos p{
    margin-bottom: 10px;

}

.carrito--montos{

    justify-content:center;    
    align-items: center;
    gap:30px;
}

.carrito__cantidad{
    width: 50px;
    padding: 1px;
    margin: auto;
}

.carrito--descuento{
    color: var(--colorVerdeOliva);
}
.carrito--borrar{
    padding: 10px;
    color: var(--colorVerdeOliva);
    font-size: 1.2rem;
}
.carrito--borrar:hover{
    color: var(--colorCuarzo);
}
.carrito--home{
    background-color: var(--colorVerdeMusgo);
    border: none;
    border-radius: 5px;
    color: var(--colorNaranjaGris);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;;
    font-size: 1.2rem;


}
.carrito--home:hover {
    color: var(--colorNaranjaL);
    background-color: var(--colorVerdeOliva);
}
.carrito--montos2{
    flex-wrap:wrap;
}



.carrito__aside {
    padding:10px;
    color: var(--colorCuarzo);
    font-size: 1.2rem;
    background-color: var(--colorNaranjaGris);
    max-width: 100%;
    margin: 1em;
    border-radius: 10px;
    
}
.carrito__aside__section {
    width: 100%;
    margin-top:5%;
    color: var(--colorCuarzo);
    font-size: 1.7rem;
    }
.carrito__aside__section h3{
    text-align: center;
}
.carrito__aside__section__article {
    padding: 15px;
    font-size: 1rem;
    margin-left: 20px;
}

.carrito__aside__section__article h5{
    font-family: 'calibri';
    font-size: 1.2rem;
}
.carrito__aside--sesion{
    text-align: center;
}
.carrito_label--pago{
    font-size:1.2rem;

}
.carrito__aside__section--buton{
    text-align: center;
    margin: 30px;
}
.carrito__comprar--buton{
    background-color: var(--colorVerdeMusgo);
    border: none;
    border-radius: 5%;
    color: var(--colorNaranjaGris);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.carrito__comprar--buton:hover {
    color: var(--colorNaranjaL);
    background-color: var(--colorVerdeOliva);
      }
@media (max-width: 767px){
.carrito--montos2{
    display: flex;
    justify-content:center;    
    align-items: center;
    gap:10px;
}
}

@media (min-width:768px){
    .carrito__main img{
     
        margin: 10px;
        padding: 10px;
    }

.carrito__main__section__contenedor{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .carrito__main__section--articulos {
    width: 60%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
 }
.carrito__main__article{
    width: 100%;
}
.carrito--home{
    margin-top: 15px;     
}
.carrito--montos2 form{
    margin-bottom: 20px;
}
        .carrito__aside {
            width: 35%;
            margin: 0;

        }
        
      }