
.condi__main{
    background-color: var(--colorCuarzo);
    color: var(--colorNaranjaGris);
    font-family: 'calibri';
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px;
    padding-top: 20px;
    border-radius: 5px;
}
.condicion__main h1{
    font-family: Alegreya Sans SC;
    font-size: 30px;
    text-align: center;
}
.condicion__main h4{
    padding: 15px;
    text-align: center;
}