.home__main {
    width: 90%;
    margin: 0 auto;
}

.home__banner img {
    width: 100%;
}

/* ----------------------------------seccion de pudle link------------- */
.home__main__section-slogan {
    margin: 20px 0 30px;
    text-align: center;
    padding: 10px 0;
}

.home__main__section-slogan h1 {
    margin: 10px 0 30px;
    font-size: 1.2rem;
}

.home__main__contenedor {
    position: relative;
}

.home__main__contenedor__articulo-yerba img {
    display: none;
}

.home__main__contenedor__articulo-yerba h3 {
    display: none;
}

.home__main__contenedor__articulo-yerba p {
    display: none;
}

.home__main__contenedor__articulo-vino-alfajor {
    position: relative;
}

.home__main__contenedor__articulo-vino-alfajor h3 {
    display: none;

}

.home__main__contenedor__articulo-vino-alfajor p {
    display: none;
}

.home__main__contenedor__articulo2 div img {
    width: 100%;
}



/* -------------seccion de articulos------------------- */
.home__main__section {
    margin-bottom: 40px;
}
.home__main__article {
    margin: 10px 0 20px;
    background-color: #FFF;
}

.home__main__article__figure {
    margin: 0 auto;
    width: 80%;
    height: 200px;
    object-fit: cover;

}

.home__main__article__figure img {
    width: 100%;
    padding: 20px;
    height: 100%;
    object-fit: cover;

}

.home__main__article__contendeor--precio-descuento-descr {
    border-top: 1px solid rgb(190, 187, 187);
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home__main__article__contendeor--precio-descuento-descr i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.home__main__article__contendeor--precio-descuento-descr p.precio {
    width: 30%;
    font-size: 22px;
    padding-right: 10px;
    font-weight: 400;
    color: black;
}

.home__main__article__contendeor--precio-descuento-descr p.descuento {
    width: 70%;
    color: #39b54a;
    font-size: 22px;
    font-weight: 400;
    padding-left: 20px;
}

.home__main__article__contendeor--precio-descuento-descr h4 {
    display: none;
}

.home__main__banner-ofertas {
    width: 100%;
    height: 450px;
}

.home__main__banner-ofertas img {
    width: 100%;
}

@media (min-width:460px) {

    /* ---------------------------------------seccion pudle ---------------------------*/
    .home__main__section-slogan h1 {
        margin: 10px 0 30px;
        font-size: 1.8rem;
    }

    .home__main__section__contenedor-articulos {
        margin: 20px 0 30px;
    }

    .home__main__contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .home__main__contenedor__articulo-yerba {
        width: 49.2%;
    }

    .home__main__contenedor {
  
    }

    .home__main__contenedor__articulo-yerba img {
        display: block;
        width: 100%;
        -webkit-filter: grayscale(0.3);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .home__main__contenedor__articulo-yerba:hover img {
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.07);
    }

    .home__main__contenedor__articulo-yerba h3 {
        position: absolute;
        top: 45px;
        left: 75px;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;
        display: block
        ;
    }


    .home__main__contenedor__articulo2 {
        width: 49.2%;
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__contenedor__articulo2 img {
        width: 100%;
        margin-bottom: 10px;
    }

    .home__main__contenedor__articulo-vino-alfajor {
        position: relative;
    }

    .home__main__contenedor__articulo-vino-alfajor h3 {
        position: absolute;
        top: 45px;
        left: 75px;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;;
        display: block;

    }


    .home__main__contenedor__articulo-vino-alfajor img {
        width: 100%;
        -webkit-filter: grayscale(0.3);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .home__main__contenedor__articulo-vino-alfajor:hover img {
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.07);
    }

    /* -------seccion ventas--------- */

    .home__main__section__contenedor-articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home__main__article {
        width: 45%;
    }

    .home__main__article__contendeor--precio-descuento-descr h4 {
        display: block;
        font-size: 16px;
        margin: 0;
        padding: 0;
        color: black;
    }

    .home__main__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    


}

@media (min-width:1024px) {
 

    .home__main__contenedor__articulo-yerba h3 {
        font-size: 2rem;
    }

    .home__main__contenedor__articulo-yerba p {
        display: block;
        position: absolute;
        top: 30px;
        left: 40px;
        font-style: italic;
        font-size: 1.2rem;
        color: #ffffff;;
        ;
    }

    .home__main__contenedor__articulo-vino-alfajor h3 {
        font-size: 2rem;

    }

    .home__main__contenedor__articulo-vino-alfajor p {
        position: absolute;
        top: 30px;
        left: 7px;
        font-style: italic;
        font-size: 1.2rem;
        color: #ffffff;;
        display: block;
    }

    .home__main__article {
        width: 23%;
    }
}

.home__main {
    max-width: 1200px;
} 