* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

  }

.login__body{
    background-color: var(--colorNaranjaGris);
}
.login__main{
    background-color: var(--colorCuarzo);
    color: var(--colorNaranjaGris);
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 13px;
    border-radius: 4px;
    font-family: 'calibri';
}
.login__main h2{
    font-family: Alegreya Sans SC;
}
.login__main--form {
    color: var(--colorNaranjaGris);
}

.login__main--buton{
background-color: var(--colorVerdeMusgo);
border: none;
border-radius: 5%;
color: var(--colorNaranjaGris);
padding: 10px;
margin-top: 10px;
font-size: 15px;
}

.login__main--cuenta{
    background-color: var(--colorVerdeMusgo);
    border: none;
    border-radius: 5%;
    color: var(--colorNaranjaGris);
    padding: 5px;
    margin-top: 5px;
}

.login__main--term{

}