.product-detail {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden; /* sirve para coultar todo lo que sobre sale del contenedor */
}

.product-detail-img {
  width: 80%;
  max-width: 460px;
  max-height: 480px;
  padding: 20px;
  display: block;
  margin: auto;
}
.item__info--licence {
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
}
.product-detail-info {
  border-left: 1px solid rgb(240, 240, 240);
  padding: 3em 1.5em;
  height: 100%;
}

.product-detail-title {
  font-weight: 500;
  font-size: 2em;
}

.product-detail-description {
  font-size: 1.2em;
  line-height: 1.1;
}

.product-detail-price {
  font-size: 2.9em;
  /* margin: 0.2em 0; */
}
.productDetail_precio-subrall {
  text-decoration: line-through;
  color: #666666;
  font-size: 1.4em;
}
.product-detail-priceDiscount {
  position: relative;
}
.product-detail-discount {
  font-size: 1.6em;
  color: rgb(0, 166, 80);
  /* position: absolute; */
  margin-top: 20px;
}

.product__detail--cantidad-disponible {
  font-size: 1.2em;
}

.product-detail-disponible {
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.buy-now-button {
  background-color: rgb(189, 206, 242);
}

.btn-compra {
  background-color: #5e975f;
}
.btn-agregarCarrito {
  background-color: var(--colorVerdeOlivaClaro);
}

.main__detalleProducto {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
} 
/* Stylocarousel */
.section__productosDetail {
  margin: 6em 0 4em;
}
.section__productosDetail h2 {
  font-weight: 600;
}

.favorite {
  position: absolute;
  color: #5e975f;
  top: 25px;
  right: 40px;
  font-size: 1.5em;
  cursor: pointer;
}
