.product-detail {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden; /* sirve para coultar todo lo que sobre sale del contenedor */
}

.product-detail-img {
  width: 80%;
  max-width: 460px;
  max-height: 480px;
  padding: 20px;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid rgb(240, 240, 240);
  padding: 15px;
  height: 100%;
}

.product-detail-title {
  font-weight: 500;
  font-size: 2.5em;
}

.product-detail-description {
  font-size: 1.2em;
  line-height: 1.3;
}

.product-detail-price {
  font-size: 3.7em;
  /* margin: 0.2em 0; */
}
.productDetail_precio-subrall {
  text-decoration: line-through;
  color: #666666;
  font-size: 1.6em;
}
.product-detail-priceDiscount {
  position: relative;
}
.product-detail-discount {
  font-size: 1.6em;
  color: rgb(0, 166, 80);
  /* position: absolute; */
  margin-top: 20px;
}



.buy-now-button {
  background-color: rgb(189, 206, 242);
}

.main__detalleProducto {
  max-width: 1024px;
  margin: 0 auto;
} 
/* Stylocarousel */
.section__productosDetail h2 {
  font-weight: 600;
  margin-top: 2.5em;
}