header {
    background-color: var(--colorVerdeOliva);
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__izquierda img {
    width: 68px;
}

.header__centro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorVerdeOliva);
}

div.header__busqueda {
    display: flex;
    margin-top: 6px;
    flex-wrap: nowrap;
    /* width: 80%; */
    margin-left: 5px;

}

.header__busqueda input {
    padding: 7px 0 7px 5px;
    /* padding-right: 35px; */
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    /* font-size: 1rem; */
    width: 80%;
}

.header__busqueda button {
    background-color: rgb(127, 167, 99);
    padding: 8px 12px;
    border: 0;
    /* margin: auto; */
    border-radius: 0 5px 5px 0;
    color: #fff;
}

div.header__titulos ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div.header__titulos ul li {
    padding: 8px;
}

div.header__titulos {
    display: none;
}

div.header__botonmenu {
    color: var(--colorNaranja);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: var(--colorVerdeOliva);
}

div.header__botonmenu i:hover {
    background-color: rgb(186, 124, 49);
}

div.header__botonmenu i {
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 50px;
    color: yellowgreen;
    font-size: 25px;
    margin: 10px;
}

div.header__derecha ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.header__derecha {
    display: none;
}

div.carrito {
    font-size: 25px;
    color: white;
/*     margin-top: 10px; */
}

@media (min-width:768px) {
    header {
        background-color: var(--colorVerdeOliva);
    }

    .header {
        width: 90%;
        margin: 0 auto;
    }

    .header__izquierda img {
        width: 100px;
    }

    .header__centro {
        flex-grow: 2;
        flex-direction: column;
        justify-content: center;
    }

    .header__busqueda {
        width: 70%;
    }

    .header__busqueda input {
        padding: 12px 0 12px 8px;
        padding-right: 35px;
        border-radius: 5px 0 0 5px;
        border: 0;
        outline: none;
        font-size: 1rem;
        width: 100%;
    }

    div.header__busqueda {
        margin: 0 0 20px;
    }


    div.header__titulos {
        display: block;
    }


    div.header__derecha {
        display: block;
        /*    margin-right: 20px; */
    }

    div.header__botonmenu {
        display: none;
    }

}

@media (min-width:1024px) {
    .header {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header__izquierda {
        margin-left: 0;
    }

    div.header__derecha {
        display: block;
        margin-right: 0;
    }
}