.home__main {
    width: 90%;
    margin: 0 auto;
}

.home__banner img {
    display: none;
    width: 100%;
    
}

/* ----------------------------------seccion de pudle link------------- */
.home__main__section-slogan {
    margin: 20px 0 30px;
    text-align: center;
    padding: 10px 0;
}

.home__main__section-slogan h1 {
    margin: 10px 0 30px;
    font-size: 1em;
}

.home__main__contenedor {
    position: relative;
}

.home__main__contenedor__articulo-yerba img {
    display: none;
}

.home__main__contenedor__articulo-yerba h3 {
    display: none;
}

.home__main__contenedor__articulo-yerba p {
    display: none;
}

.home__main__contenedor__articulo-vino-alfajor {
    position: relative;
}

.home__main__contenedor__articulo-vino-alfajor h3 {
    display: none;

}

.home__main__contenedor__articulo-vino-alfajor p {
    display: none;
}

.home__main__contenedor__articulo2 div img {
    width: 100%;
}



/* -------------seccion de articulos------------------- */
.home__main__section {
    margin: 3em auto;
}

.section__link-ver-mas {
    display: none;
}

.home__main__section h2{
    font-size: 1.1em;
    font-weight: 600;
}
.home__main__section__contenedor-articulos{
    display: block;

}
.home_producto {
    max-width:  320px;
    display: flex;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.6);
    background-color: rgb(255, 255, 255);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    border-collapse: collapse;
    margin: 0.8em auto;
    overflow: hidden;

}

.home_producto:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}


.home_producto-img {
    padding: 0.2em;
    text-align: center;
    width: 140px;
    height: 140px;
}

.home_producto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-collapse: collapse;
}

.home_info {
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    color: black;
}

.home_info *+*{
    margin-bottom: 0.2em;
}

.home_tipo-envio{
    background-color: rgb(52, 131, 250);
    color: rgb(255, 255, 255);
    font-weight: 400;
    max-width: max-content;
    padding: 0 0.1em;
    border-radius: 3px;
    margin-bottom: 0.1em;
}
.home_info-precio {
    margin: 0.2em 0;
    font-size: 1.1em;
}

.home_precio {
    font-size: 1em;
}
.home_precio-subrall {
    text-decoration: line-through;
    color: #666666;
    font-size: 0.8em;
}
.home_oferta{
    color: rgb(0, 166, 80);
}

.home_descuento {
    display: block;
    margin: 0;
    font-size: 0.6em;
}
.home_precio-envio {
    color: rgb(0, 166, 80);
}


.home_descripcion {
    font-weight: 400;
}

.home_descripcion, .home_precio-envio {
    font-size: 0.8em;
}

.home_calificacion{
    transition-duration: 0.3s;
    transition-property: opacity;
    opacity: 0;
}
.home_producto:hover .home_calificacion {
    opacity: 1;
}
.home_calificacion, .home_tipo-envio {
    font-size: 0.7em;
}
.home_calificacion i {
    color:  rgb(52, 131, 250);
    margin-right: 0.1em;
}
/* .home__main__banner-ofertas {
    width: 100%;
    height: 450px;
}

.home__main__banner-ofertas img {
    width: 100%;
} */

@media (min-width:460px) {
    .home__banner img {
        display: block;
        width: 100%;
        height: 200px;
        
    }
    /* ---------------------------------------seccion pudle ---------------------------*/
    .home__main__section-slogan h1 {
        margin: 10px 0 30px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .home__main__contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }

    .home__main__contenedor__articulo-yerba {
        width: 49.2%;
    }

    .home__main__contenedor__articulo-yerba img {
        display: block;
        width: 100%;
        -webkit-filter: grayscale(0.3);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .home__main__contenedor__articulo-yerba:hover img {
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.07);
    }

    .home__main__contenedor__articulo-yerba h3 {
        position: absolute;
        top: 45px;
        left: 75px;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;
        display: block
        ;
    }


    .home__main__contenedor__articulo2 {
        width: 49.2%;
        display: flex;
        flex-wrap: wrap;
    }

    .home__main__contenedor__articulo2 img {
        width: 100%;
        margin-bottom: 10px;
    }

    .home__main__contenedor__articulo-vino-alfajor {
        position: relative;
    }

    .home__main__contenedor__articulo-vino-alfajor h3 {
        position: absolute;
        top: 45px;
        left: 75px;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: #ffffff;;
        display: block;

    }


    .home__main__contenedor__articulo-vino-alfajor img {
        width: 100%;
        -webkit-filter: grayscale(0.3);
        -webkit-transition: all 0.5s ease-in-out;
    }

    .home__main__contenedor__articulo-vino-alfajor:hover img {
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.07);
    }
    
    /* -------seccion ventas articulos--------- */
    .home__main__section{
        margin-bottom: 4em;
    }
    .home__detalle_section {
        display: flex;
        gap: 1em;
        align-items: center;
    }
    .home__detalle_section h2 {
        font-size: 1.3em;
    }
    .section__link-ver-mas {
        display: inline;
        font-size: 1em;
    }
    .home__main__section__contenedor-articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        

    }
    .home_producto {
        max-width: 200px;
        min-height: 380px;
        max-height:  385px;
    } 

    .home_producto {
        max-width:  200px;
        display: flex;
        flex-flow: column;

    }
    .home_producto:hover {
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    
    }
    
    .home_producto-img {
        padding: 1em;
        text-align: center;
        width: 190px;
        height: 200px;
    }
    
    .home_producto-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-collapse: collapse;
        
    
    }
    
    .home_info {
        border-top: 1px solid rgb(230, 230, 230);
        padding: 1em;
        display: flex;
        flex-flow: column;
    }
    
    .home_info *+*{
        margin-bottom: 0.4em;
    }
    
    .home_tipo-envio{
        background-color: rgb(52, 131, 250);
        color: rgb(255, 255, 255);
        font-weight: 500;
        max-width: max-content;
        padding: 0 0.3em;
        border-radius: 3px;
        margin-bottom: 0.1em;
    }
    .home_precio {
        font-size: 1.3em;
    }

    .home_descuento {
        display: block;
        font-size: 0.8em
    }

    .home_descripcion, .home_precio-envio {
        font-size: 0.9em;
    }
    
    .home_producto:hover .home_calificacion {
        opacity: 1;
    }
    .home_calificacion .home_tipo-envio {
        font-size: 0.9em;
    }
    .home_calificacion i {
        margin-right: 0.2em;
    }
    

}

@media (min-width:768px) {
    .home__banner {
        max-width: 1380px;
        margin: 0 auto;
    }
    .home__banner img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .home__main__contenedor__articulo-yerba h3 {
        font-size: 2rem;
    }

    .home__main__contenedor__articulo-yerba p {
        display: block;
        position: absolute;
        top: 30px;
        left: 40px;
        font-style: italic;
        font-size: 1.2rem;
        color: #ffffff;
    }

    .home__main__contenedor__articulo-vino-alfajor h3 {
        font-size: 2rem;

    }

    .home__main__contenedor__articulo-vino-alfajor p {
        position: absolute;
        top: 30px;
        left: 7px;
        font-style: italic;
        font-size: 1.2rem;
        color: #ffffff;;
        display: block;
    }


    /* -----------------tarjetas de articulos */
    .home__main__section{
        margin-bottom: 5em;
    }
    .home_producto {
        max-width: 220px;
        min-height: 385px;
        max-height:  385px;
    } 

/*     
    .home_producto:hover {
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    
    } */
    
    .home_producto-img {
        padding: 1em;
        text-align: center;
        width: 190px;
        height: 200px;
    } 
    
    .home_producto-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-collapse: collapse;
        
    
    }
    
    .home_info {
        border-top: 1px solid rgb(230, 230, 230);
        padding: 1em;
        display: flex;
        flex-flow: column;
    }
    
    .home_info *+*{
        margin-bottom: 0.3em;
    }
    
    .home_tipo-envio{
        background-color: rgb(52, 131, 250);
        color: rgb(255, 255, 255);
        font-weight: 600;
        max-width: max-content;
        padding: 0 0.3em;
        border-radius: 3px;
        margin-bottom: 0.1em;
    }
    .home_precio {
        font-size: 1.3em;
    }

    .home_descuento {
        display: block;
        font-size: 0.6em
    }

    .home_descripcion, .home_precio-envio {
        font-size: 0.8em;
    }
    
    
    .home_producto:hover .home_calificacion {
        opacity: 1;
    }
    .home_calificacion .home_tipo-envio {
        font-size: 0.7em;
    }
    .home_calificacion i {
        margin-right: 0.3em;
    }
    

}


.home__main {
    max-width: 1024px;
} 