.glide__arrow {
    background-color: rgb(255, 255, 255);
}
.incon_slider {
    color: rgb(52, 131, 250);
    font-size: 0.8em;
    font-weight: 100;    
}
.glide__arrow--left {
    left: -25px;
    
} 

.glide__arrow--right {
    right: -25px;
    
}
@media (min-width:768px) {

    .incon_slider {
        color: rgb(52, 131, 250);
        font-size: 1.7em;
        font-weight: 100;    
    }
    .glide__arrow--left {
        left: -30px;
        
    } 
    
    .glide__arrow--right {
        right: -30px;
        
    }
}