<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <div class="home__banner">
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/banners/banner1.jpg" alt="slider1">
                </div>
                <div class="swiper-slide">
                    <img src="/images/banners/banner2.png" alt="slider2">
                </div>
                <div class="swiper-slide">
                    <img src="/images/banners/banner3.jpg" alt="slider3">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <main class="home__main">
        <section class="home__main__section-slogan">
            <h1>"Sabores argentinos en cada producto, ¡disfruta lo auténtico!."</h1>
            <div class="home__main__contenedor">
                <div class="home__main__contenedor__articulo-yerba">
                    <img src="/images/yerbas/Yerba-mate-in-a-mug-and-bowls-800x534.jpg" alt="">
                    <div class="contenedor__enlace-descripcion">
                        <h3>Yerba Mate </h3>
                        <p>"infusión con encanto"</p>
                    </div>
                </div>
                <div class="home__main__contenedor__articulo2">
                    <div class="home__main__contenedor__articulo-vino-alfajor">
                        <img src="/images/vinos/el-mejor-vino-tinto.jpg" alt="">
                        <div class="contenedor__enlace-descripcion">
                            <h3>vinos</h3>
                            <p>"Sabores que enamoran"</p>
                        </div>
                    </div>
                    <div class="home__main__contenedor__articulo-vino-alfajor">
                        <img src="/images/alfajores/46814.475 alfajores.jpg" alt="">
                        <div class="contenedor__enlace-descripcion">
                            <h3>Alfajores</h3>
                            <p>"Dulce abrazo artesanal"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home__main__section">
            <h2>Productos más vendidos</h2>
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/vinos/00103.jpg" alt="">
                        </figure>

                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <h4>Vino Cabernet</h4>
                        </div>
                    </a>
                </article>


                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/havanna.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$10.000</p>
                            <p class="descuento">20% off</p>
                            <h4>Cajas de Alfajor</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/yerbas/canarias.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$750</p>
                            <p class="descuento">10% off</p>
                            <h4>Yerba</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/surtidos.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$3.500</p>
                            <p class="descuento">5% off</p>
                            <h4>Alfajor</h4>
                        </div>
                    </a>
                </article>
            </div>
        </section>

        <section class="home__main__section">
            <h2>Productos destacados</h2>
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/vinos/00103.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <h4>Vino Cabernet</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/havanna.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <p class="precio">$10.000</p>
                            <p class="descuento">20% off</p>
                            <h4>Cajas de Alfajor</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/yerbas/canarias.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <p class="precio">$750</p>
                            <p class="descuento">10% off</p>
                            <h4>Yerba</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/surtidos.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <p class="precio">$3.500</p>
                            <p class="descuento">5% off</p>
                            <h4>Alfajor</h4>
                        </div>
                    </a>
                </article>
            </div>
        </section>

        <section class="home__main__section">
            <h2>Ofertas</h2>
            <!-- <div class="home__main__banner-ofertas">
                <img src="/images/banners/Slider-Leche-de-Almendras-y-chocolate.jpg" alt="">
            </div> -->
            <div class="home__main__section__contenedor-articulos">
                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/vinos/00103.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                            <h4>Vino Cabernet</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/havanna.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$10.000</p>
                            <p class="descuento">20% off</p>
                            <h4>Cajas de Alfajor</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/yerbas/canarias.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$750</p>
                            <p class="descuento">10% off</p>
                            <h4>Yerba</h4>
                        </div>
                    </a>
                </article>

                <article class="home__main__article">
                    <a href="/products/detalleProducto">
                        <figure class="home__main__article__figure">
                            <img src="/images/alfajores/surtidos.jpg" alt="">
                        </figure>
                        <div class="home__main__article__contendeor--precio-descuento-descr">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precio">$3.500</p>
                            <p class="descuento">5% off</p>
                            <h4>Alfajor</h4>
                        </div>
                    </a>
                </article>
            </div>
        </section>



    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/javascripts/carousel1_swiper.js"></script>

</body>

</html>