<footer class="footer">
    <div class="footer__seguinos">
        <h4 class="footer-titulo">SEGUINOS</h4>
        <ul>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer__nosotros">
        <h4 class="footer-titulo">NOSOTROS</h4>
        <ul>
            <li><a href="">¿Quienes somos?</a></li>
            <li><a href="">Nuestra Calidad</a></li>
        </ul>
    </div>
    <div class="footer__ayuda">
        <h4 class="footer-titulo">AYUDA</h4>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Centro de Ayuda</a></li>
    </div>
    <div class="footer__logo">
        <a href=""><img src="/images/logoAlmacen.png" alt=""></a>
    </div>

</footer>