<header>
    <nav class="header">
        <div class="header__izquierda">
            <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
        </div>
        <div class="header__centro">
            <div class="header__titulos">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">contacto</a></li>
                    <li><a href="">ofertas</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>
            <div class="header__busqueda">
                <input type="busqueda" placeholder="¿Qué estás Buscando?...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

        </div>
        <div class="header__botonmenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header__derecha">
            <ul>
                <li><a href="/users/login">login</a></li>
                <li><a href="/users/registro">registro</a></li>
                <div class="carrito">
                    <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i> </a>
                </div>
                <li><a href="/users/admin">admin</a></li>
            </ul>
        </div>
    </nav>
</header>