<header>
    <nav class="header">
        <div class="header__izquierda">
            <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
        </div>
        <div class="header__centro">
            <div class="header__titulos">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">contacto</a></li>
                    <li><a href="">ofertas</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>
            <form action="/search" method="GET" class="header__busqueda">
                <input type="text" name="keywords" placeholder="¿Qué estás Buscando?...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </div>
        <div class="header__botonmenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header__derecha">
            <ul>
                <% if (!locals.userLogin) { %>
                    <li><a href="/users/login">login</a></li>
                    <li><a href="/users/register">registro</a></li>
                <% } else { %>
                    <% if (userLogin.rol === "admin") { %>
                        <li><a href="/admin">admin</a></li>
                    <% } %>
                    <li><a href="/users/profile">Hola <%= userLogin.name %>!</a></li>
                    <li><a href="/users/logout">Salir</a></li>
                <% } %>
                <div class="carrito">
                    <a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i> </a>
                </div>
            </ul>
        </div>
    </nav>
</header>