<header class="main-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-3 col-md-2 main-header--img">
                <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
            </div>

            <div class="col-6 col-md-6 form-search mt-4">
                <small id="msgError-keywords" class="ms-2 text-warning"></small>
                <small id="msgError-empty" class="ms-2 text-warning"></small>
                <form action="/search" method="GET" class="search-form" id="form-Keywords">
                    <input type="text" name="keywords" id="keywords" placeholder="Buscar..." class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    
                </form>
                

                <nav class="main_header-navCentro mt-1">
                    <ul class="left-navbar">
                        <li><a href="/">Productos</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Ayuda</a></li>
                        <li><a href="">Nosotros</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3 navegacion_derecha">
                <nav class="main_header-navBar">
                    <ul class="header__derecha">
                        <% if (!locals.userLogin) { %>
                            <li><a href="/users/register">Creá tu cuenta</a></li>
                            <li><a href="/users/login">Ingresá</a></li>
                        <% } else { %>
                            <% if (userLogin.rol==="admin" ) { %>
                                <li><a href="/admin">admin</a></li>
                            <% } %> 
                            <li>
                                
                                <select class="user-dropdown" onchange="changeAction(this)">
                                    
                                    <option  value="" disabled selected>
                                        
                                        <%= userLogin.name %>
                                    </option>
                                    <option value="/users/profile">
                                        
                                        Mi Perfil
                                    </option>
                                    <% if (userLogin.rol===1) { %>
                                        <option value="/admin">
                                            
                                            Admin
                                        </option>
                                    <% } %>
                                    <option value="/users/logout">
                                        
                                        Salir
                                    </option>
                                </select>
                            </li>
                            <li><a href="/users/favorites">Mis favoritos <i class="fas fa-thumbs-up fa-lg"></i></a></li>
                        <% } %>
                            <div class="carrito">
                                <button id="btn-cart" type="button" class="btn btn-transparent text-white position-relative me-3" data-bs-toggle="modal" data-bs-target="#modalCart">
                                    <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                            </div>
                        </div>
                    </ul>
                </nav>
            </div>
            
            <script>
                function changeAction(select) {
                    var selectedOption = select.options[select.selectedIndex].value;
                    if (selectedOption) {
                        window.location.href = selectedOption;
                    }
                }
            </script>
            
        </div>

        <script src="/javascripts/search.js"></script>

        <!-- <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button> -->

        

    </div>
</header>

 <!-- Modal -->
 <div class="modal fade" id="modalCart" tabindex="-1" aria-labelledby="modalCartLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalCartLabel">Mi carrito</h1>
        </div>
        <div class="modal-body" id="cart-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger disabled" onclick="emptyCart()" id="btn-empty-cart">Vaciar carrito</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir comprando</button>
          <button type="button" class="btn btn-primary">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>