<div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<<"><i class="fa-solid fa-chevron-left incon_slider"></i></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">>"><i class="fa-solid fa-chevron-right incon_slider"></i></button>
</div>