<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos' }) %>

	<body>
		<!-- Header -->
		<%- include('../partials/header') %>
			<!-- /Header -->

		
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Mis favoritos</h2>
					</div>
					<% if (favorites.length){%>
						<% favorites.forEach(product=> { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<%- include('partials/product', { ...product, toThousand }) %>
							</div>
	
							<% }) %>
					<% }else{ %>
						<p class="alert alert-warning">Aun no tenés favoritos </p>
					<% } %>
				</div>
			</div>
			

			<!-- footer -->
			<%- include('../partials/footer')%>
				<!-- /footer -->
	</body>

</html>