<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {
    title : 'REGISTRO'
}) %>

    <body>

        <%- include('../partials/header') %>

            <section class="form-register">
                <figure class="registro_logo">
                    <a href="/"><img src="/images/logoAlmacen.png" alt=""></a>
                </figure>
                <h4>CREÁ TU CUENTA</h4>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
                <p>Estoy de acuerdo con <a href="/info/condiciones">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="CREAR">
                <div class="googlefacebook">
                    <h3>o inicia sesion con</h3>
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <p><a href="login">¿Ya tengo Cuenta?</a></p>


            </section>

            <%- include('../partials/footer') %>
    </body>

</html>